[2019-12-23 15:56] aremazeilles opened #1 "Improve 1st figure"
From Diego:

[2019-12-23 15:56] aremazeilles commented on #1
Other comment: raw data arrow directly to Pre.processing algorithms. Eventually to DB
- URDF directly to Pre.process

[2019-12-23 15:57] aremazeilles opened #2 "Filenames"
From me:

`subject_N_run_R_jointAngles.csv`

[2019-12-23 15:58] aremazeilles opened #3 "Test Bed spec"
From me (at the table level)

Are we thinking combining different test beds in a unique experiment? If not, I am not sure whether using testbedLabel is necessary.

[2019-12-23 15:58] aremazeilles commented on #3
From Matteo: I think we are.  at least for devices working in different scenarios

[2019-12-23 15:59] aremazeilles commented on #3
But then we could consider a unique testbed file, in which we would gather the spec of all the devices used for a given experiments.

Remember that the spec of an experiment is just about this experiment. The fact that a device is used in several scenario (and thus several experiment) only requires us to agree the format of the spec of such device for each scenario it is involved in.

[2019-12-23 15:59] aremazeilles commented on #3
If we use a single file to specify all the properties of every testbed in a single experiment then we would require a nested definition in the file. That could work and won't require a _testbedLabel in the file number.

[2019-12-23 15:59] aremazeilles opened #4 "Multi device testbeds"
From Nevio:
What about testbeds including more than one device?
Example: The BenchBalance testbed (to assess recovery from perturbed balance) includes: i) a perturbator in the form of a sensorized push stick, used by the experimenter; ii) a smart garment, worn by the tester.
Are these two devices different sub-testbeds. How are they labeled in the file name format?

[2020-01-03 09:18] aremazeilles opened #5 "urdf use for humans"
REsume discussion open on the use of URDF for human spec definition

[2020-01-03 09:21] aremazeilles opened #6 "Anthropomorphic, humanoid and testbed file class"
from Nevio:

[2020-01-03 09:24] aremazeilles opened #7 "insert human factor model"

[2020-01-03 09:24] aremazeilles opened #8 "Angle definition"
From Matteo:

[2020-01-07 22:08] diegotorricelli commented on #2
Good point, I agree

[2020-01-07 22:10] diegotorricelli commented on #8
Let's check on the ISB recommendations:
https://www.sciencedirect.com/science/article/abs/pii/S0021929001002226
https://www.sciencedirect.com/science/article/abs/pii/S002192900400301X

And also the new ISB recommendation on kinetics:
https://www.sciencedirect.com/science/article/pii/S0021929019307870

[2020-01-07 22:13] diegotorricelli commented on #1
OK, I agree. We'll improve it

[2020-01-10 12:59] aremazeilles opened #10 "Update contribution strategy"
The one present in the data format is outdated.

[2020-01-10 13:00] aremazeilles opened #11 "Insert terminology"
To share the definition, as they were proposed in D6.1

[2020-01-14 15:27] #7 closed

[2020-01-14 15:28] aremazeilles opened #12 "insert physiological data"
They somehow disappear

[2020-01-14 15:41] aremazeilles opened #14 "insert template description"

[2020-01-20 13:36] aremazeilles commented on #10
Even though present in the data format file, it should be also brought to the main file

[2020-01-21 15:09] #14 closed

[2020-01-21 15:09] aremazeilles opened #17 "Human factor questionnaire_topic.csv ambiguous"
Replace `topic` with something that is not related with ROS

[2020-02-05 09:49] aremazeilles commented on #1
@diegotorricelli , you mentioned another image. Could you share it?

[2020-03-06 10:35] SjoerdBruijn opened #18 "New data formats"
For some of the code we are working on, we require;
Full body CoM trajectory (nx3, with n being number of samples)
Full body angular momentum (calculated around CoM) (nx3, with n being number of samples)
Combined inertia of the body (inertia tensor of all segments combined) (nx3x3 with n being number of samples)

can these be added as data format somehow? We think that CSV files may work.

[2020-03-23 17:14] alfonsotecnalia opened #19 "joints angle file structure"
Original:

I think the text used for the torques is better understood:

[2020-03-30 15:41] aremazeilles commented on #18
adding colleagues to the discussion:  ping @flxalr @davidpintofernandez @alfonsotecnalia.

Could  you confirm for each of the required format the related header?
For the COM for instance I expect it to be `timestampt; X; Y, Z` correct? Could you suggest structure for the two following ones?

[2020-03-30 16:15] aremazeilles commented on #19
I have even wondering if it would be more self-explanatory to provide it as a table:

| time | joint_name_x | joint_name_y | joint_name_y | ... |
|-------------|----------------|----------------|---------------|---|
| 649290.20 | 0.02                | 0.551              | 0 |

What do you think?

[2020-03-30 16:17] aremazeilles commented on #19
I would suggest using such example structure, in place of the whole text:

**File structure**:

* 1st column: time-stamp (units: milliseconds).
* 1st row: header with M+1 labels were M = number of angles considered.
* From 2nd row: angle values, each corresponding to one time sample.

**Header labels**: 1st-column label: “time”. All other labels: see ‘Angle definition’ section.

**Units**: Degrees

[2020-03-30 16:29] aremazeilles commented on #6
ping @alfonsotecnalia  @flxalr @DavidPintoFernandez @alfonsotecnalia

I think Nevio remarks is very relevant: it might be good making distinction in between these different types of file. We would thus have:

* _bipedal system specification_: we are targetting the use of `urdf` file for describing any robotic system, and also human subjects
* _testbed configuration_: that could be related to the `

[2020-03-30 16:32] aremazeilles commented on #2
@alfonsotecnalia do you agree, can I adjust the text in that direction (nd then, later on we would adjust the P Manager accordingly?)

[2020-03-31 07:52] SjoerdBruijn commented on #18
CoM: `timestampt, X, Y, Z`
AngMom: `timestampt, X, Y, Z`
FullBodyI: `timestampt, Xx, Xy, Xz, Yx, Yy, Yz, Zx, Zy, Zz`
another important thing (that I realise just now) to agree on would be what the different global axes directions are; for instance, we always use X as AP axis (pointing forward, in gait direction), Y pointing left, and Z up. The actual definition is of course arbitrary, but I think

[2020-03-31 08:27] m-lancini commented on #18
We usually have the X as AP axis and Y as the vertical axis (since many gait analysis models do not require the Z axis).
I think it would be best to employ existing standards, such as the one of the International Society of Biomechanics: see https://www.ncbi.nlm.nih.gov/pubmed/8550644
ISB recommendations for standardization in the reporting of kinematic data.

[2020-03-31 08:44] SjoerdBruijn commented on #18
I'm OK with any definition, but I think that one should be defined. The reason we use z as up is because it facilitates plotting in matlab, where the Z is also up in 3d figures. As said, it doesnt matter, but it matters because we shouldn't be using different definitions. I agree that the ISB definitions may be a smart way to go.

[2020-03-31 09:32] m-lancini opened #20 "Model specification"
A lot of information regarding the general model used to represent the human pilot are split in different section and this could lead to inconsistencies. I propose to prepare a separate part or document detailing the model and its standards.

for instance:

[2020-03-31 09:43] m-lancini opened #21 "4.8. Humanoid anthropometric measures file"
Masses and inertia values for each segment should also be reported.
I think the yaml file could be used for all that, but we should specify the value/name pairs for each body. Right now it seems we are concerned only with segments, for our sub-project this could be limiting. If we decide to use only segments than most of the information we collect will be used only internally (in the subproject) b

[2020-03-31 09:47] m-lancini opened #22 "Ground reaction forces"
section 4.4. Ground Reaction Forces file states that the GRF file shall contain forces measured by force platforms.
We also measure GRFs from crutches, when they are used, so we have more GRFs.
Shall we save the GRFs of the crutches in the same file or shall we foresee a file template for reaction forces not at the feet?
I imagine this is not limited to crutches but also instrumented steps and han

[2020-03-31 10:10] m-lancini commented on #18
Completely agree, we should define the standard somewhere, for the global reference and for the bodies relative references as well.

[2020-04-01 09:28] aremazeilles opened #23 "Check data format compatibility with ROS message structure"

[2020-04-02 10:33] DavidPintoFernandez commented on #19
@aremazeilles I agree, the table is self-explanatory and maybe it is easier to understand than the text. We should maintain the reference to the angle definition section for the joint labels.

[2020-04-02 10:55] DavidPintoFernandez commented on #18
I completely agree that we have to define a standard, and also agree that the best solution is to adapt to what is already done and well extended, the ISB recommendations, as Matteo suggested.

[2020-04-02 11:01] DavidPintoFernandez commented on #6
I agree. I also see that bipedal system's specifications and testbed's configuration could be the same for different experiments and runs, but as I see, pre-processed data has to be different in all runs, it makes sense to not include all in the same group.

[2020-04-02 12:33] aremazeilles commented on #22
Do you refer to force sensor (which provide force and  torque)? or do you get also, like in 4.4 information of force, moment & centre or pressure?

If we have force sensor, then I would rather another type of file.
What is your opinion?

[2020-04-02 12:38] aremazeilles commented on #21
ping @flxalr

Are you familiar with urdf file ? Could all this information be placed in such format?

We are considering the use or urdf for describing both human and robotic system.

[2020-04-02 12:43] aremazeilles commented on #20
ping @DavidPintoFernandez could you check the consistencies aspects mentioned by @m-lancini ?

@m-lancini you suggest to split the document to distinguish models used and data file structure, is that correct?

[2020-04-02 12:45] aremazeilles commented on #19
@alfonsotecnalia does it sound good to you as well (including the reference to joint label of course)?
If so, I will make such change in all the format descriptions....

[2020-04-02 12:53] aremazeilles commented on #18
How would ou like to define that standard? Can somebody does it ? Or just pass me an example text, and I can start incorporate it?

[2020-04-02 12:58] aremazeilles commented on #18
Apart from that axis direction, is that ok with you @DavidPintoFernandez to insert these other format?

If yes, I can work on it.

[2020-04-02 12:59] aremazeilles commented on #6
The other, does this dinstinction bipedal system, testbed configuration and pre-processed data makes sense? If yes, I would then split the documentation into these 3 (new) subsections.

[2020-04-02 13:01] aremazeilles commented on #2
I start working on this

[2020-04-02 13:06] m-lancini commented on #22
Our raw data is made up by forces and orientations (since there is an IMU on the crutches), along with the gait phase and its uncertainty.
It could be a separate file, but I believe many testbed will be measuring forces acting as reactions so a standard could be set.

[2020-04-02 13:12] aremazeilles commented on #22
It does not seem wrong to me distinguishing ground reaction forces, in which we assume we would get a center of pressure, and wrench sensors that would just provide  force and torque.

As an analogy, the similar structure in ROS would be the  [WrenchStamped](http://docs.ros.org/api/geometry_msgs/html/msg/WrenchStamped.html), that contains only force and torque.

So I would rather distinguish them

[2020-04-02 13:29] alfonsotecnalia commented on #19
I agree, the table is easier to understad, avoids misunderstandings and naming of the fields is standardized. For example:
* 1st column: time-stamp (units: milliseconds): one can think in naming such colum time, other one timestamp, other ms_since_epoch...
With the table you know that the header of the first column should be time. Same with the name of angle components.

[2020-04-02 13:38] alfonsotecnalia commented on #2
I already have a branch expecting the filenames in that way:
subject_N_run_R_jointAngles.csv

I planned to merge it with the master when the user trials finish.

[2020-04-02 13:42] alfonsotecnalia commented on #22
In the parser I was implementing, WrenchStamped messages were converted to Ground Reaction Forces format because there was no any other type containig forces/torques. Centre of pressure fields were left in blank.
As you have commentd, I think it would be better to create a format for containing only force/torque information.

[2020-04-02 13:54] m-lancini commented on #21
Yes I know it. It's pretty straightforward so it could be a good option.
Do you want to have two separate models? one for the exo and one for the human? I think that would be the best solution.
PS: urdf is a nice container, but we shall also identify the minimum set of data to put in, and the reference model (body names and joint names) to use.

[2020-04-02 13:56] m-lancini commented on #20
Yes, I'd like to have a general description of the model, that could also be used as reference independent of the data format. In this document we shall describe the reference system, the segments/bodies/joints name and specifics and so on.
While the data format shall only concern format specifications.

[2020-04-02 15:51] #2 closed

[2020-04-02 16:29] aremazeilles commented on #20
Trying to understand how to do this.
I could generate another file, `model.md`, in which we could gather all figures relate to the human model, i.e joint centers (figure 2), the segment names (figure 3), the angle definitions (section 5).

would this be ok?

There is also this other issue related the [angle definition](https://github.com/aremazeilles/eurobench_documentation/issues/8).

I mean, I c

[2020-04-02 16:46] m-lancini commented on #20
We can help with the model. If you'll prepare the separate file with the pieces already in the other documents, I'll try to work with the .md file. I'll ask you for help if I get stuck with the format.

[2020-04-03 06:15] aremazeilles commented on #21
@flxalr could you comment on that aspect?

[2020-04-03 06:56] aremazeilles commented on #20
You can have a look at the branch [https://github.com/aremazeilles/eurobench_documentation/tree/model_apart](model_apart), that now contains a specific file [https://github.com/aremazeilles/eurobench_documentation/blob/model_apart/model.adoc](model_adoc).

[2020-04-03 07:01] aremazeilles commented on #20
Some references that could be worth taking into account here: related and comparable database existing:

* [https://motion-database.humanoids.kit.edu/](KIT database). It provides description of the anthropometric table, and the marker set used,
* [https://www.sim.informatik.tu-darmstadt.de/download/ds/HuMoD/Documentation/Documentation.pdf](HUMOD doc), which also describes the kinematic model, on p

[2020-04-03 07:02] aremazeilles commented on #20
@m-lancini , just ping me if you need support for anything

[2020-04-03 09:42] m-lancini opened #27 "Multiple force sensors (naming convention)"
What do we do in scenarios which contains multiple force sensors?
- One file per sensor: subject_N_run_R_wrench_sensor_1.csv, subject_N_run_R_wrench_sensor_2.csv, ..., subject_N_run_R_wrench_sensor_S.csv
- One file with fields differentiating the sensor the data come:  subject_N_run_R_wrench.csv

| time | sensor_1_force_x | sensor_1_force_y | sensor_1_force_z | sensor_1_torque_x | sensor_1_torque_

[2020-04-03 09:46] m-lancini commented on #27
Just to make sure "wrench_sensor_1" will be replaced by the specific measurement instrument name? like subject_N_run_R_left_crutch.csv?

[2020-04-03 10:10] alfonsotecnalia commented on #27
Yes. It should be a meaningful ID/name or a serial/number (if it had)

[2020-04-03 10:24] alfonsotecnalia opened #28 "Separator character(s) in csv files"
I think a separator character for the fields in the csv files has to be defined

[2020-04-03 10:34] alfonsotecnalia opened #29 "Empty fields"
At this moment we have Wrench format but maybe some sensors only provide force information (no torque). What has to be inserted in the torque fields? More generic: What has to be inserted in those fields a sensor does not have information to fill?
- NaN
- Empty/blank
- 0

I am in favour of using empty/blank because 0 could lead to confusion (it could be a .0 measurement) and 0/Nan applies to scala

[2020-04-03 10:53] m-lancini commented on #29
blank works for me

[2020-04-03 10:56] m-lancini commented on #28
I'd go for the semicolon, to avoid confusion with some decimal separators.
PS: the decimal separator should be "." for everybody, but for some software with localisation 1.2,3.4 could be ambiguous

[2020-04-03 13:32] alfonsotecnalia commented on #28
I'm fine with it

[2020-04-03 14:38] #22 closed

[2020-04-03 15:07] aremazeilles commented on #28
Me to

[2020-04-03 15:15] aremazeilles commented on #29
If we agree with the column labels, then, if a column has no data, I would not put the column in the file.

For the case you suggest, if only force is acquired, and no torque, I would only use columns `time, force_x, force_y, force_z`.

Similar issue could occur with joint angles or joint torques .... We will provide a model with all possible labels, but  if an experiment does not record a given j

[2020-04-03 16:21] aremazeilles commented on #27
I think we should be compatible with option 1 and 2. For 2 I agree that the acquisition timestamp should be shared across all stored data.

[2020-04-03 16:24] aremazeilles commented on #27
I would keep the type in the name: `subject_N_run_R_force_id`.
And for joint file (option_2), use similar id: `id_force_x, id_force_y`

[2020-04-06 07:11] flxalr commented on #6
I agree with the proposed separation of file types. In fact, we are currently implementing it exactly as you described it, @aremazeilles.

[2020-04-06 08:03] #28 closed

[2020-04-06 08:12] flxalr commented on #18
Are we only talking about the three mentioned files (CoM, AngMom, FullBodyI)? I think that a conversion to a global reference frame is feasible.

Some questions for better understanding:
Do you record human motion plus exo-motion or just the motion of the human subject? Will the exo be considered in the computation of the CoM, angular momentum and full body inertia? Defining one reference frame fo

[2020-04-06 08:12] #19 closed

[2020-04-06 08:37] flxalr commented on #21
In my opinion for humanoids .urdf is de facto a standard in modelling. I don't see why we should introduce an additional file for description. Sure it is not very nice on the eye, but if one is interested in specific information from the file there are a lot of parsers which export data from bigger urdf files or we can develop them.

We should distinguish between files which correspond to the robo

[2020-04-06 09:47] m-lancini commented on #21
I agree, I'd like keep the urdf format for modelling both the human and the robot, although on separate files (one for the pilot, one for the robot).
For what concerns the global (=laboratory) reference frame, I'd go, as suggested in another issue, with the ISB recommendation.

a minimum set for each segment (body) is then (merging the two notes):
for each segments:
-parent-child relationships wit

[2020-04-06 10:15] SjoerdBruijn commented on #18
yes, we are only talking about CoM, angmom, and FullbodyI and these should all be expressed in a global frame.
So far, we have done mostly human only testing. However, when doing human+exo, the properties of the exo need to be taken into account.

[2020-04-06 13:39] #17 closed

[2020-04-06 13:49] aremazeilles commented on #6
Ok, perfect. I will work on that as soon as I can

[2020-04-07 11:16] m-lancini commented on #29
That would be even better. The file could be just a subset of the required columns.

[2020-04-07 11:55] alfonsotecnalia commented on #29
I agree

[2020-04-08 14:04] aremazeilles commented on #6
You can have a look at #33.

[2020-04-15 09:05] #6 closed

[2020-04-15 09:15] aremazeilles commented on #4
ping @NevioTag @FraCampus @m-lancini @alfonsotecnalia @flxalr @DavidPintoFernandez

This is related to a comment done in the old google documentation, [here](https://docs.google.com/document/d/1vp8SSEd9E1z1ixv96Y31lJK8xdTIhfJyCzr9o6V2grQ/edit?disco=AAAADOngi08)

I would look at it thinking of the protocol and experiment description.

In the [protocol description](https://github.com/aremazeilles/eu

[2020-04-15 14:46] #29 closed

[2020-04-15 14:55] #10 closed

[2020-04-15 16:05] aremazeilles opened #36 "PI output structure"
Right now the current structure proposed is in simple yaml file. It is described [here](https://github.com/aremazeilles/eurobench_documentation/blob/master/pi_spec.adoc#32-output-data):

[code]
We are so far thinking of extending it to contain an additional flag `label` that could be sued for indicating whether the vector content is strongly related to labels:

[code]
Using the tag label, we know

[2020-04-15 16:05] aremazeilles commented on #36
ping @alfonsotecnalia

[2020-04-15 16:08] aremazeilles opened #37 "PI visualization"
Given the definition of a [run PI format](https://github.com/aremazeilles/eurobench_documentation/blob/master/pi_spec.adoc#32-output-data), and the experiment PI content (only mentioned [here](https://github.com/aremazeilles/eurobench_documentation/blob/master/template.adoc#43-inter-run-aggregation) for now.

The question is: do we have enough information to know how to best visualize a given PI ?

[2020-04-15 16:09] aremazeilles commented on #37
ping @alfonsotecnalia .
Willing to bring Luis in the loop as well.

In any case, I think we should also detail a bit more what is the structure of an experiment PI file.

[2020-04-15 16:53] alfonsotecnalia commented on #36
I had forgotten the DB perspective. As this information goes also to the table describing the PI, adding a `label` field/column for indicating whether the row exists would mean a waste of memory (for scalar/vector otuput types this field would be empty). Maybe it is good what you have proposed of adding a new type. But I would call `labelled_matrix` instead of `labelled_vector`

[2020-04-16 06:04] aremazeilles commented on #18
Resuming discussion to move forward

Do you refer to Figure 1 axis direction [on that paper](https://www.ece.uvic.ca/~bctill/papers/mocap/Wu_Cavanagh_1995.pdf)?

With respect to the 3 proposed types, CoM, AngMom, FullBodyI, should we add a short description sentence? So far we only have the one line description provided by Sjoerd:

[2020-04-16 06:07] aremazeilles commented on #27
Do we agree on the last proposal? I would rather use an id (number) or label (text) to differentiate the different sensor files or column in the joint file. The serial number can be problematic, if you are not using the same device.

[2020-04-16 06:18] aremazeilles commented on #21
Your proposition @m-lancini is consistent with the information we can place in `urdf `structure, right?

Could you then give your opinion on current [section 3](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#3-bipedal-system-specification-files)?
Right now we have there 4 sections:

* Unified Robot Description Format (URDF) file
* WR segments description (URDF

[2020-04-16 06:18] aremazeilles commented on #20
Wondering how this is going. Do you need support?

[2020-04-16 06:19] aremazeilles commented on #5
covered by #21

[2020-04-16 06:19] #5 closed

[2020-04-16 06:20] aremazeilles commented on #3
To be handled through #4

[2020-04-16 06:20] #3 closed

[2020-04-17 05:16] aremazeilles opened #38 "PI algo input and output"
While the PI algo is crucial for us, its description is split in between two files, the one related to the [template](https://github.com/aremazeilles/eurobench_documentation/blob/master/template.adoc#41-output-type-field), and the one related to the [PI spec](https://github.com/aremazeilles/eurobench_documentation/blob/master/pi_spec.adoc#32-output-data).

We should only have one (in PI spec I thi

[2020-04-17 08:43] m-lancini commented on #20
Having some doubts: for specific changes in the model shall I put them directly in the document or raise them independently? e.g. the shoulder link and the trunk one do not meet at all (one ends in T12, the other on the sternum)

[2020-04-17 08:48] aremazeilles commented on #20
Is it a change in a figure?  If yes, we can look at it directly through this discussion place (you can drag images here).

I guess you can change them directly in that branch. But to validate I would hope that @DavidPintoFernandez and / or @flxalr can check it with you

[2020-04-17 10:45] alfonsotecnalia commented on #27
I agree. To sum up:
- **name of the file**: subject_N_run_R_wrench_tagOrID if we have files from different sensors and  subject_N_run_R_wrench if only one file containing the info of all the sensors.
- **content**:
| time | tagOrID1_force_x | tagOrID1_force_y | tagOrID1_force_z | tagOrID1_torque_x | tagOrID1_torque_y | tagOrID1_torque_z | ...| tagOrIDN_force_x | tagOrIDN_force_y | tagOrIDN_force_z

[2020-04-17 10:50] m-lancini commented on #20
Not just the figure, but the model underlying. the segments definitions have errors to deriving from the same issue. I'll try to explain it with this image (hope it's clear) drawn using the definitions in the document.
the main issues:
-two separate segment links are formed: one linking the upper limbs and the other the rest of the human body. Shoulders and trunk are not connected.
-the joint betw

[2020-04-17 10:56] alfonsotecnalia commented on #38
I agree. Yesterday I did not find the link with the info to send to Joao easily

[2020-04-17 11:02] m-lancini commented on #27
I'd go for tags or label, IDs could be tricky to handle...
for me Alfonso summary is ok

[2020-04-17 11:06] m-lancini commented on #18
Yes, I'd go with that.. and I'd use the same standards to describe local relative references (the arm's the leg's... etc)

[2020-04-17 11:12] m-lancini commented on #21
Yes, although it should be clear that LINK in URDF defines a complex rigid body and not just a length (a body with just a dimension). Maybe we should point it out? in some fields human-body-segments are called bodies, here they are called links..

agree

I agree, it seems wiser.

I agree, but I think a provision to include additional segments if need could be made.

see the discussion on a separat

[2020-04-17 13:25] m-lancini commented on #4
The only issue I see is that every device should know its name to properly access these information e.g. "right_crutch_length" instead of "length", so these are also to be defined. Are those defined yet?

[2020-04-17 14:32] aremazeilles commented on #4
I am thinking of it at the level of PI computation, so that there is no more notion of device.

Such file does not need to be the one used during the data collection.
The point you highlight relate to  how to generate the configuration file, form the test-bed environment.
I think that should be something to look from the data collection environment. It should not be complex to prepare a tool for t

[2020-04-17 14:41] aremazeilles commented on #20
ping @diegotorricelli, I'll try to spend time to look at that, but  your opinion is for sure relevant .

[2020-04-18 17:42] FraCampus commented on #12
we acquire data from physiological sensors , obtaining 4 different parameters: heart rate, heart rate variability, respiration rate and galvanic skin response.

can these be added as data format somehow (as Pre-processed one)? We think that CSV files may work and we expect to have a structure like:  timestamp; value (nx2, with n being number of samples)

ping @NevioTag

[2020-04-18 23:16] m-lancini commented on #4
ok, I get your point.

[2020-04-20 07:30] aremazeilles commented on #12
Could you detail the format for each of the 4 measures you mention?

[2020-04-23 06:16] aremazeilles commented on #12
[Physiological Data Format.pdf](https://github.com/aremazeilles/eurobench_documentation/files/4520574/Physiological.Data.Format.pdf)

[2020-04-23 06:18] aremazeilles commented on #12
In my opinion, the rationale for preferring a data per file, or a joint file with all data, is whether all these measures are usually measured by the same device. In your case I guess this is true, right? What is your opinion?

[2020-04-23 06:32] aremazeilles commented on #12
Wrt the description, I would be in favour of placing more detailed information, like:

* Heart rate:
  * is the speed of the heartbeat measured by the number of contractions (beats) of the heart per minute (bpm)
  * link: https://en.wikipedia.org/wiki/Heart_rate
  * label: hr
* Heart rate variability:
  * (HRV) is the physiological phenomenon of variation in the time interval between heartbeats. I

[2020-04-23 06:34] aremazeilles commented on #12
Globally speaking, I think we prefer having timestamp in sec and not ms (to be confirmed).

Going one after the other...

**BPM**: at each instant the value recorded is the estimation of the BPM, is that correct?

[2020-04-23 07:19] alfonsotecnalia commented on #12
I would say timestamp should be in seconds.

Regarding the options for the file format, we should handle both. In order to reuse the data in other PIs, we could provide utils for merging several csv with physiological data into one (we should think how to make a unique timestamp/stablish common rate) and/or split into different files from a joint one.

[2020-04-23 08:11] aremazeilles commented on #12
ping @DavideGiusino

[2020-04-23 08:31] DavideGiusino commented on #12
As long as physiological measures are acquired by the same device starting from the same point in time (i.e., all four parameters are captured contemporarily by only one sensor), which I guess it is the case here, I think Option 2 would provide a less dispersed format, which I would prefer even to eventually make comparisons between parameters more easily. Although Option 1 is said to be more flex

[2020-04-23 09:04] aremazeilles commented on #12
Yep we can still extend format later on if needed, and yes haring the same timestamp is mandatory for bringing it to a common file.

[2020-04-23 14:10] DavidPintoFernandez commented on #20
Ok, I will wait then for your proposal and we can work from it. I did not get your last point, what do you mean by split the definition of dimensions and segments?

[2020-04-23 14:13] m-lancini commented on #20
Most of the inconsistencies stem from the fact that each segment is represented by a single-dimension link... I think to define the variables to be stored in the files. Instead we have segments with more than one dimension (hip, trunk, abdomen) and segment with more than 2 joints (trunk, hip).

[2020-04-23 16:07] NevioTag commented on #12
In our case we acquire HR, HRV and RR from one device and GSR from a different device. We then synchronized them with a dedicated software.

[2020-04-23 16:19] DavidPintoFernandez commented on #20
ok, now it is clear what you meant and I agree.

[2020-04-23 18:19] NevioTag commented on #12
We used ms because we tool as reference example other data formats. But clearly for us also s is fine.

[2020-04-27 13:08] aremazeilles commented on #18
@SjoerdBruijn and other, could you have a look at the proposition in branch [udbenchmark](https://github.com/aremazeilles/eurobench_documentation/blob/udbenchmark/data_format.adoc#body-center-of-mass-3d-trajectory), where I introduce the 3 formats?

I did put a reference for the 2 first one, could you check if you have more relevant references, and propose one for the inertia tensor?

Then I did n

[2020-04-27 13:14] aremazeilles commented on #12
If we gather format, we should provide a common name for it
I have the impression it makes sense gathering hr, hrv, rr. Do you think it makes also sense gathering with them the gsr?

Or should just gather the 4, and name the joint file `physiology` ?

[2020-04-27 14:24] aremazeilles commented on #12
Have a look at the [proposed decsrption](https://github.com/aremazeilles/eurobench_documentation/blob/physiological/data_format.adoc#physiological-data)

Could you revise the description, and propose adjustment if needed?
I would need also the unit of `hrv`, `rr` and `gsr`.

In that version I propose to gather all in a unique file. Then I am wondering whether the term _physiological_ could not gat

[2020-04-27 15:01] #27 closed

[2020-04-27 15:14] #36 closed

[2020-04-27 15:14] #38 closed

[2020-04-28 09:13] nickkluft commented on #18
The proposed formats seem to fit the udbenchmark project.
For sake of consistency, it might be wise to use similar metric units (e.g. milliseconds instead of sec, and mm instead of m) in the proposed formats, and have the estimates in the global frame of reference.

Regarding references, I would suggest to refer to Kinetics of Human Motion
By Vladimir M. Zatsiorsky.

[2020-04-28 15:35] m-lancini commented on #18
I'd like to use seconds (s) and meters (m) instead of ms and mm since when adding also newtons (N) the idea of having a mN just to be consistent is confusing. But the important thing is to be explicit in that.
Concerning Kinetics of Human Motion I see it uses a different reference for the Y axis, please make sure that the reference system is rotated according to the ISB standard.

[2020-04-28 15:45] aremazeilles opened #43 "seconds and meter"
Several data format mention ms and mm.
Convert it to m and sec.

[2020-04-28 16:06] aremazeilles commented on #18
I would also be in favour of seconds and meters. I created an issue to adjust other format.

Sjoerd mentioned earlier that the [ISB recommandation](https://www.ece.uvic.ca/~bctill/papers/mocap/Wu_Cavanagh_1995.pdf#2) would be ok for your protocol. I hope this is right.

I could mention it at the beginning of the data format section, with something like:

For any measurement involving a global refe

[2020-04-30 13:23] juritaborri opened #44 "Output data: labelled_matrix with label on both rows and columns"
Hi,
for some PIs, I need to have as output a labelled_matrix with labels on both rows and columns.
As an example:
![Cattura](https://user-images.githubusercontent.com/63415341/80715305-7358aa80-8af6-11ea-9534-e5d8b9c75b22.PNG)

How have I to arrange such output in the .yaml file?

[2020-04-30 13:28] aremazeilles commented on #44
The inter-run aggregation is said to be mean + std.
That would thus be a 3*3 matrix for the mean plus a 3*3 matrix for the std?

Is there a chance you get only part of the information (no pelvis, or column V)?

I would like to distinguish cases where the content is always fixed ( so that the description of each row /column naming could be part of the PI description), and cases where the result PI

[2020-04-30 13:38] juritaborri commented on #44
Yes two 3x3 matrices are the output after inter-run aggregation.
In the manual routine that I am preparing, for the sinusoidal perturbation program I will highligth that it must be applied only if the sensorization of those three segments is possible and if subjects can be subjected to perturbation in those directions. Thus, yes the label are always the same for Gain Index and phase shift. Convers

[2020-05-08 06:06] aremazeilles commented on #18
I added at the [begining](https://github.com/aremazeilles/eurobench_documentation/blob/udbenchmark/data_format.adoc#23-global-reference-frame) of the document a subsection on the default global reference frame.

Ready to be merged ?

[2020-05-08 06:08] aremazeilles commented on #4
@alfonsotecnalia any comment?

[2020-05-08 06:31] alfonsotecnalia commented on #4
I found nested structure easiest to read/follow but we can start with the simple approach.
I agree with the rest of the conclusions: single configuration file for all the equipments in the testbed, multiple files for experiments changing conditions and the combination of devicename_paramname to differentiate params.

[2020-05-08 06:32] aremazeilles commented on #12
Guys, could you review the proposition ?
Alfonso nicely mentioned the following units:

Can you confirm?

[2020-05-08 06:48] aremazeilles commented on #44
Ok so if the matrix is always the same there might not be any need to label the matrix in the file.
Handling a double matrix as an output PI experiment may be tricky.

What is your opinion @alfonsotecnalia

[2020-05-08 07:15] aremazeilles opened #46 "Testbed collected data"
Some testbeds may include several sensing data (like a chair: 2 force sensors on the handrest, one proximity sensor in the backrest, ....)

If we stick to a file per data type, we can have to handle quite a lot of files.

In [Protocol with multiple but similar sensors](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#222-protocol-with-multiple-but-similar-sensor

[2020-05-08 08:20] FraCampus commented on #12
We have the following units:
-gsr in mS (milliSiemens)
-rr in bpm (breaths per minute)

[2020-05-08 08:42] alfonsotecnalia commented on #44
Sorry because I have missed some conversations and probably I do not completely understand the needs. Is there any special reason for storing a 3x3 matrix as result and not 9 scalars?

Vector and matrix components where thought for those algorithms which had temporal sequence(s) of one (vector) of more (matrix) components as output. Then you applied a mean/std to the whole temporal sequence(s) to

[2020-05-08 08:52] #43 closed

[2020-05-08 09:12] alfonsotecnalia commented on #46
The unique file in which all device shares timestamp would be generated setting the rate to the fastest device and replicating the info for the slowest devices. That file could be easily interpreted by the PI which has proposed the file/structure (it will have the rates for the devices harcoded internally so proper filtering could be done for example) but other PIs trying to use the experiment dat

[2020-05-08 16:49] aremazeilles commented on #46
That is one way to do it effectively, but i think other resampling strategies could / should be used.

Such information should be maybe documented, but for me it is a constraint / pre-processing request getting to the data collection and preparation for the PI benchmarking (i.e not on our side).

I could see several protocols suggesting a platform datafile. I see relevance when they have a single

[2020-05-19 16:07] aremazeilles opened #48 "file naming"
In the document, we repeat always something like:

**Name of the file**: subject_N_run_R_gaitEvents  where  N = subject’s number and R= run number.
Use appropriate leading zeros for R and N to ensure proper ordering of files.

In #4 discussion, we also mentioned that conditions could also change during the experimentation. So I think we should provide at the bottom a definition common to all:

* W

[2020-05-20 06:03] #4 closed

[2020-05-20 06:30] alfonsotecnalia commented on #48
I was already writing the code for the PIManager for handling this. I have had the same problem with the nomenclature. The name of the branch is `experiment_condition` but inside the code I look for files matching `config_XX`. I would discard `controlled_variables` because the problems of understading we are having. If we are thinking in a unique file for both conditions and equipments configurati

[2020-06-24 15:24] #12 closed

[2020-06-24 15:34] #18 closed

[2020-07-01 10:20] aremazeilles opened #49 "Add timestamped event"
File containing relevant labelled information

[2020-07-01 10:27] FraCampus opened #50 "Add ECG data"
File containing ECG data to be included as a new pre-processed data format.

We think that .CSV file may work, expecting to have a structure like:
timestamp (sec) ; ECG value

@aremazeilles @NevioTag

[2020-07-08 13:06] aremazeilles opened #51 "Add string PI type"
Forecast is using it

ping @alfonsotecnalia

[2020-07-08 13:10] FraCampus commented on #50
ping @ileniapecoraro5

[2020-07-08 13:12] aremazeilles commented on #50
If you can provide a description in the same spirit as the other, I can revise it. Otherwise, you would have to wait that I find some time to propose a description :)

[2020-07-08 13:44] FraCampus commented on #50
For sure!

**ECG data**

**Description:** This file shall contain the ECG signal collected from the human subject. Generally, it is a graph of voltage versus time of the electrical activity of the heart using electrodes placed on the skin [en.wikipedia.org/wiki/Electrocardiography](url). Unit is mV (milliVolt). Label: ecg

**Name of the file:** subject_N_run_R_ecg, where N = subject’s number and R

[2020-07-08 15:33] alfonsotecnalia commented on #50
There is a format for physiological data. Wouldn't it be better to include ecg as a field in it?

[2020-07-08 15:43] alfonsotecnalia commented on #51
Ok, no problem in adding it. I will open an issue in the PiManager/DatabaseModel to handle string type. How the aggregation is done?

[2020-07-08 16:09] FraCampus commented on #50
We decide to include ECG data as a new Data Format cause it is acquired at a different frequency and cannot be merged with the other ones. Moreover, we cannot neither resample it given that in the benchmarking routine it undergoes frequency analysis.

[2020-07-09 06:19] aremazeilles commented on #50
If it is a common practice to have it acquired separately then it makes sense to store it separately.
If it could be acquired jointly (apart from your testbed @FraCampus ), then we could describe it jointly, mentioning clearly that each of the signal could be also be stored individually if frequency acquisition differs.

[2020-07-09 06:20] aremazeilles commented on #51
I asked for it.
I suggested to keep the most used string.

[2020-07-13 10:41] m-lancini commented on #46
We have two cructches, each producing force (so I'd go with the WRENCH) format and gait status (SWING/STANCE).
In my opinion either we used an ad-hoc format (Crutches_data) or we go for a combination of more file formats into a single csv... the only issue is: how do we specify it? (which column is which)

[2020-07-13 13:00] m-lancini opened #53 "Angular Momentum around the Center of Mass"
is it referred to a single body (the whole body) or to each segment? in which reference frame? if it's referred to multiple segments each should be referred to its specific, non-fixed, reference system. I think the description is not clear enough here

[2020-07-13 13:15] aremazeilles commented on #53
@SjoerdBruijn could you comment on this?

[2020-07-13 13:24] aremazeilles commented on #46
Your question is unclear to me. Do you refer to differentiating from crutches 1 and 2?

In the spirit of what is defined in [2.3.1](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#231-protocol-with-multiple-but-similar-sensors), you could either go for one file per crutch, or a file combining the two crutches information, using a tag to differentiate the two cr

[2020-07-13 13:32] m-lancini commented on #46
not only, the main issue is that each has two different outputs (gait status and load) that, as of now, are based on two different formats

In this case we should update the wrench definition (to include gait_status) or have a separate format for the crutches.
Or use two separate files (one for the two crutches FORCE output, one for the two crutches GAIT output)

[2020-07-13 13:48] aremazeilles commented on #46
This is a bit why I propose considering input data files like `platformData.csv` ( I made a mistake in my previous comment, I should have used `platformData`, and not `testbed`), which would enable to combine in a common file information from different devices and / or from different types. I think this should be acceptable, as long as the information contains in it refers to some atomic data form

[2020-07-14 08:46] aremazeilles commented on #48
So we should go for `cond`, is this ok?

[2020-07-14 09:01] alfonsotecnalia commented on #48
yes

[2020-07-14 09:02] SjoerdBruijn commented on #53
This should be the total body angular momentum, around the total body center of mass, expressed in global coordinates. That is, the sum of the angular momenta of different segments around the total body CoM. Is this clear enough?

[2020-07-14 09:02] aremazeilles commented on #48
OK, working on it

[2020-07-14 13:28] #48 closed

[2020-07-14 13:36] #50 closed

[2020-07-15 08:20] m-lancini commented on #46
I agree with timestamped events, and I believe that platformData could be a solution, so I went with that in the documentation. I believe that in this way, however, we are under-using the device: it's more accurate to have a stance/swing indication than a gait event, so maybe we could produce both to allow users choose whichever format is more convenient. (wrench+events, or [forces+status])

[2020-07-15 14:50] aremazeilles commented on #46
If we go for a timestamp events, then we would have `force_x; force_y; force_z; event`. Then you could fill `event` with whatever makes sense for the protocol you consider. It could be events, or status depending on what the protocol expects?

[2020-07-16 09:39] m-lancini commented on #46
so it would be like
force_x; force_y; force_z; event
0;0;0;heel_contact
0;1;0;
0;0;1;
0;1;2;toe_off
?

[2020-07-16 10:28] aremazeilles commented on #46
The only constraint we put in csv files is to have _no empty_ areas, meaning that we would need some information for lines 3 and 4.
If you want to keep it as an event (i.e keep only transition) it should be in a separate files. If we have a status for each line, then we can put it in the same file.

[2020-07-16 10:33] #51 closed

[2020-07-16 10:37] #46 closed

[2020-07-16 12:34] m-lancini commented on #46
ok, so we're talking more about a status than a event.
works for me

[2020-07-20 10:33] m-lancini commented on #21
I believe that the current solution was to have it implemented in urdf file.
@aremazeilles is this discussion being included in the specifications already?
thanks
Matteo

[2020-07-20 16:07] FraCampus opened #58 "Add options in the Human Factor Metrics- Meta Data File structure"
Dear all,
we noticed that in the Human Factor Meta Data file, the one containing the specification of each question of the questionnaire, there are still missing some options for the type 'likert'. In particular, we want to include also **'ghost/control/reverse likert'.**

(@aremazeilles during one of our last discussions we suggested to insert one column with a boolean value: ghost/control, but t

[2020-07-21 07:10] aremazeilles commented on #58
Now you mention three options right? Ghost, control, reverse likert.
What would be your suggestion then?

I am not against adding such information, stating it as optional.

[2020-07-21 07:49] aremazeilles commented on #21
Indeed, there is the will to use urdf and not yaml file, to have a more uniform management of such information for human and robot.

But I haven't seen any actions in that direction so far, and I don't have time myself to dig into this.
I guess at short term, each subproject / protocol will implement the human description as they prefer.
@FraCampus, placing it in the yaml can be a first option to

[2020-07-21 11:02] FraCampus commented on #58
Our suggestion, as mentioned above, is to include  **ghost/control/reverse likert** as _'likert'_ type options of the data structure.

In this way, we will have the possibility to define a question as:
- likert
-reverse likert
-ghost likert
-control likert

[2020-07-21 13:07] m-lancini commented on #20
@aremazeilles could you please convert .adoc to .doc for me to edit? I tried to edit the adoc but I'm having difficulties and I surrendered. Thanks

[2020-07-21 13:30] FraCampus commented on #21
One possible and easy solution could be include in the **key: value** also the masses (as additional column in a sense)

The structure will look like:

**segment key | length | mass**
unit: [m], [kg]
ex. r_hand: 0.15, 0.5

Moreover, I would suggest also to introduce a key label also for the **whole body height and weight**
@NevioTag

[2020-07-23 12:14] aremazeilles commented on #21
If we stick to yaml files, I would rather use a specific tag, i.e

[code]

[2020-07-23 12:17] aremazeilles commented on #20
Under linux, I used the following command (from [here](https://rmoff.net/2018/08/22/converting-from-asciidoc-to-ms-word/)).

[code]

* [data_format.adoc.docx](https://github.com/aremazeilles/eurobench_documentation/files/4965795/data_format.adoc.docx)
* [pi_spec.adoc.docx](https://github.com/aremazeilles/eurobench_documentation/files/4965796/pi_spec.adoc.docx)
* [template.adoc.docx](https://github

[2020-07-30 07:08] m-lancini commented on #20
It works but I miss the figures. I'll try to make up a word doc with the images from the adoc and then ask you to convert it back.

[2020-08-17 16:37] m-lancini commented on #20
I tried to update at least the definition of the segments. Now it seems to me it's more coherent.
The only issue is the definition of the "_w" key labels. Why is that a suffix and "r_" and "l_" are prefixes?

[2020-09-08 13:56] FraCampus commented on #58
Dear @aremazeilles , as discussed in our last meeting in July, we envisioned to propose the following modifications in the **Factor Meta Data File**:

-include the '_reverse likert_' in the ' _likert_ ' type option
-**add one column** in order to include other item details (ghost, control,nothing) and name it **'optional'**

Thanks
@NevioTag

[2020-09-09 06:54] aremazeilles commented on #20
I'll duplicate your last comment within the PR, to centralize all related discussions there.

[2020-09-09 14:55] #58 closed

[2020-09-16 06:09] alfonsotecnalia commented on #49
There is already a format for events but it is oriented to gait (gaitEvents.yaml). Other partners are considering to use a event (.csv) file with two columns: the timestamp of the event and the label of the event.
I like gaitEvents.yaml format because it avoids repeating the same label when you store information about a repetitive movement (walking). So to make it more generic I would rename it to

[2020-09-16 06:26] alfonsotecnalia opened #61 "Add jointStates format"
It would consist on the following columns:

- time (s)
- label_1_position (rad)
- label_1_velocity (rad/s)
- label_1_acceleration (rad/s^2)
- ....
- label_N_position (rad)
- label_N_velocity (rad/s)
- label_N_acceleration (rad/s^2)

[2020-09-16 11:34] alfonsotecnalia opened #62 "Add vector_of_vector and vector_of_matrices formats"
For results which contain several vector/matrices of different sizes. We have to consider whether to add labels and how.

[2020-09-16 13:37] alfonsotecnalia commented on #61
@aremazeilles if you agree, I will add it

[2020-09-16 13:42] aremazeilles commented on #62
We would need to gather the cases where this is needed.

Regarding the label, could we connect it to #44?

[2020-09-16 14:21] aremazeilles commented on #49
The only limit I can imagine to the yaml mode is the frequency of events in the file.
If it is quite small, then yaml sounds great. If it is higher, then the yaml format could have its limit, no?

Having a common format for gait events and other sounds great to me. Then the question is whether we should go for yaml, csv, or permit both.

[2020-09-16 14:22] aremazeilles commented on #53
Should we insert these comments in the description?

[2020-09-16 14:43] alfonsotecnalia commented on #62
vector_of_vector and vector_of_matrices are proposed in https://github.com/dzhvansky/pepato/issues/8.

Here it is a proposal for the types:

[code]

[2020-09-16 15:15] aremazeilles commented on #62
For `vector` and `labelled_vector`, could we get it with an unique type, vector, and another (optional) key, label:

[code]
For matrices, is it standard in yaml to `;` instead of `,`?
Commas might be better. Also, it could be right as suggested [here](https://stackoverflow.com/a/62141585)

Similarly I would rather handle `labelled_matrix` by adding more keys to state `row_label` and `column_label`

[2020-09-16 15:52] alfonsotecnalia commented on #62
I was thinking in not extending the number of labels in the yaml. The proposed format seems clearer. However I would say vector, labelled_vector, matrix and labelled_matrix could be only a type:
[code]

[2020-09-16 16:05] alfonsotecnalia commented on #49
I see advantages in higher frequencies for yaml (smaller size).

I am in favour of allowing only one. However the PiManager does not enter in how the content is formatted at this momment so both formats could be accepted. The name before the extension should be equal (events.csv/events.yaml)

[2020-09-17 08:31] aremazeilles commented on #49
High frequency (1000Hz) means a lot of value?

[2020-09-17 08:35] aremazeilles commented on #62
Not sure to understand your statement.

The format you suggest is in line with the OpenCV format for general matrices (like [here](https://docs.opencv.org/master/dd/d74/tutorial_file_input_output_with_xml_yml.html), if you scroll to the end).
However, I am not sure we gain anything in processing vector and matrices the same way.
For visualization puposes, it would be needed to scroll the file, to

[2020-09-17 08:40] #20 closed

[2020-09-17 08:44] aremazeilles opened #63 "human model: prefix or suffix label"
This was originally mentioned [here](https://github.com/aremazeilles/eurobench_documentation/pull/25#issuecomment-689621472).

In the [human body segment](https://github.com/aremazeilles/eurobench_documentation/blob/master/model.adoc#2-human-body-segment), suffix is used for `_w`, while left and right limbs are distinguished using prefix.

m-lancini is suggesting to set `l` and `r`as suffix as wel

[2020-09-17 08:47] aremazeilles opened #64 "reference model page in format page"
Now that the human model has its own page, the format page should reference it, and be aligned with it.
This may affect at [the human anthropomorphic section](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#33-human-anthropometric-measures-file), but also any section referencing limb label, joint center, etc.

[2020-09-17 08:48] aremazeilles commented on #11
A paper on the terminology  was accepted at [WeRob2020](http://www.2020.werob.org/). It will be referenced as soon as the final verison is ready

[2020-09-17 08:49] alfonsotecnalia commented on #49
events.csv (99bytes):
|time | event|
|------|------|
|0.001|r_heel_strike|
|0.002|l_heel_strike|
|0.003|r_heel_strike|
|0.004|l_heel_strike|

events.yaml (60bytes)
[code]

[2020-09-17 08:52] aremazeilles commented on #49
If the experiments last several seconds, then the yaml file will just be unreadbale, while the csv could be easier to read (even through automatic editor plugins although.

[2020-09-17 09:03] alfonsotecnalia commented on #62
The first proposal do not uses other labels appart from type/value. But as I have said, adding more labels makes it clearer

- Same structure for storing the info in a program
- Adding cols/rows numbers allows for storing efficiently the data.

But let's see what other people think

[2020-09-17 09:12] alfonsotecnalia commented on #49
Not sure about it. If we are talking about reading, both are comparable. If we need filtering/editing or other capabilities then csv plugins are better.

I see advantages in .csv if multiple events are allowed at same timestamp. If this feature is needed, then definitely we should go with .csv

[2020-09-17 09:50] SjoerdBruijn commented on #53
I think that would make sense, if this variable is indeed included. I have tried to tag @nickkluft here in vain. He's the one doing most of the heavy lifting on the programming side. Can somebody add him to the discussion (if still needed)

[2020-09-17 13:10] aremazeilles commented on #49
An example od long [event file in yaml format](https://github.com/nickkluft/udbenchmark_PIs/blob/master/PI_udbenchmark_github/tests/data/input/subject_04_gaitEvents_01)
Some `\n` are to be removed, but this is more or less wuold be the yaml aspect with a significant number of items in it.

[2020-09-17 13:41] aremazeilles commented on #62
ping @mjperezzurera

[2020-09-21 08:31] DavidPintoFernandez commented on #63
I am not an expert on this. I only put the prefix there as it is the notation we use for the inertial sensors in our lab. I completely agree with Matteo. If the most common way to do this is with suffixes, let's do it.

[2020-09-22 15:01] mjperezzurera commented on #62
I have read the entire post and I think I have not enough info/context to decide whether is better or worse for the output of the pi file, in fact I didn't know there was an output file of the pi execution in yml, so I prefer you to decide which solution is best for you and then adapt my code if needed.

Thank you anyway for count me in.

[2020-10-05 07:53] AdrianaTorres opened #66 "Addition of the COM velocity and acceleration"
It would be great to add the velocity and acceleration of the COM. It can be added as 6 extra collumns (x', y', z', x'', y'', z'') in the csv containing the 3D trajectory of the COM.

[2020-10-05 08:12] AdrianaTorres opened #67 "Addition of feet markers' trajectories (unique to Irreguar Terrains)"
For the calculation of a PI (margin of stability) in the irregular terrain testbed the addition of the trajectories of four markers. The file can follow the same format as the one for the joint trajectories: it can be a csv with three collumns (x, y, z) per feet marker (rhee, lhee, rtoe, ltoe, rfootc1, lfootc1, rfootc2, lfootc2).

[2020-10-05 08:36] AdrianaTorres opened #68 "Addition of gait parameters"
It would be great to add a file containing the gait parameters. It can be a yaml file:
Gait parameters:
    -  Left Cadence:
       Left Walking Speed:
       Left Stride Time:
       Left Step Time:
       Left Stride Length:
       Left Step Length:
       Left Step Width:
       Left Single Support:
       Rigth Cadence:
       Rigth Walking Speed:
       Rigth Stride Time:
       Rigth Step Ti

[2020-10-05 11:54] aremazeilles opened #69 "EMG: left and right"
To be mention in the text.
If both limb are considered, then the suffixes `_l` and `_r` should be added to the labels.

[2020-10-05 12:02] aremazeilles commented on #66
Right now the [COM](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#body-center-of-mass-3d-trajectory) is only defined with its position, x, y and z.

I am not very keen in using `' ` in the label name, as we could have different symbols for it. Should we then extend with something like: `vel_{x,z}` and `acc_{x,z}`?

In that case, do we keep (for simplicity) `x

[2020-10-05 12:18] aremazeilles commented on #67
ping @alfonsotecnalia

This is not specific to irregular terrains, as udbenchmark is requesting to save position of specific markers (see [here](https://github.com/nickkluft/udbenchmark_PIs/issues/7#issuecomment-700000527)).

Is your `rhee` or  `lhee` related to the ` hell` landmark Nick is proposing there?

I see two possibilities:

* define a specific foot landmark format, if all these markers a

[2020-10-05 12:24] aremazeilles commented on #68
We already have the [gait event format](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#gait-events-file).

The labels you propose sound like iformation that is considered as PI output in some project (and actually the first [csic code](https://github.com/eurobench/pi_octave_csic/tree/master/tests/data/output) we looked at,
But in your case, all this informatio

[2020-10-05 13:37] aremazeilles commented on #49
So if we stick to yaml, shall we change the scope of `gaitEvents` to be `events`, or do we add another format for event in general, maintaining still the one for gaitEvent ?

Note that if we go for first option, we would not have issues with people willing to mix gait info and other event labeled.

[2020-10-05 13:39] aremazeilles commented on #53
@SjoerdBruijn, I would think that if you copy properly his github ID in your post, as you did, he should receive the message.
@nickkluft, if you receive this, could you post an acknowledgment here?

[2020-10-05 14:50] nickkluft commented on #53
@SjoerdBruijn, this is how I calculated the angular momentum, indeed.

If further clarification is needed, I would like to refer to Eq. 16 in _Hugh H., and Popovic M., Angular momentum in human walking, Volume 211, Issue 4, (2008)_, or to the methods section of _Bradford C. Bennett, Shawn D. Russell, Pradip Sheth, Mark F. Abel, Angular momentum of walking at different speeds, Human Movement Scienc

[2020-10-06 05:59] alfonsotecnalia commented on #68
I do not see as an extension of table 12.
I assume these values are inputs for your metrics, are they? Do you compute these values? Could they be considered as final performance indicators?
If they are inputs for your metrics then I would recommend to create another input type. If you calculate them in a previous process and they can be considered as final performance indicators, then I would also

[2020-10-06 06:15] alfonsotecnalia commented on #66
Yes, we were proposing an input format JointState containing info about the position, velocity and acceleration of a joint.

| time | position | velocity | acceleration |
|:----------:|:-------------:|:------:|:------:|
| sec | rad | rad/s | rad/s^2 |

I also prefer vel/acc to '/'' and yes, we could keep x, y and z instead of pos_x, pos_y, pos_z

[2020-10-06 06:42] aremazeilles commented on #68
@AdrianaTorres could you clarify if they are effectively input data you use to compute other metrics, or whether they are indeed PI output?

[2020-10-06 06:44] aremazeilles commented on #66
@AdrianaTorres would this be ok with you: extend `com` format to be: `x, y, z, vel_x, vel_y, vel_z, acc_x, axx_y, acc_z`?

[2020-10-06 08:26] AdrianaTorres commented on #68
They are not PIs, they are used as the input for the calculation of several PIs. We use Vicon to collect the data and we do a preprocessing with their software in order to get gait events, gait parameters and joint angles, forces and moments. Then we use these metrics for PIs calculation.
I also do not see gait parameters as an extension of the gait events table.

[2020-10-06 08:49] AdrianaTorres commented on #67
Our rhee and lhee are the same Nick is proposing, but our rtoe and ltoe do not exactly coincide (Nick places them at the tip of the second finger while we put it in the metatarsal of that finger).

I think it is better to define a generic landmark / marker position file in which each scenario introduces the markers needed. I think it is very difficult to define a specific foot landmark format that

[2020-10-06 08:51] AdrianaTorres commented on #66
Yes, x, y, z, vel_x, vel_y, vel_z, acc_x, acc_y, acc_z would be perfect for me!

[2020-10-06 10:34] alfonsotecnalia commented on #68
Is the preprocessing done for each of the runs or is it calculated once per subject and kept constant for different runs involving the same subject?

[2020-10-06 12:49] alfonsotecnalia commented on #68
Ok. Then I think we should incorporate this format.

[2020-10-16 17:00] aremazeilles commented on #68
@AdrianaTorres could you provide some text describing this new format? If you are not familiar with asciidoc, you could provide me the text to be put in each item, i.e

* a general description (with some reference if it makes sense)
* the file structure.
I assume the file structure is the one provided at the beginning of your issue. we would need to detail for each key the expected info, with its

[2020-10-16 17:04] aremazeilles commented on #63
So I assume suffix is accepted over there. Thanks

[2020-10-16 17:06] aremazeilles commented on #49
So I assume we would add here another format, for TimeStamped event, defined as a yaml file.

[2020-10-16 17:11] aremazeilles commented on #53
So I would propose the following description, gthering the current text, the contribution of @SjoerdBruijn , and the reference provided by @nickkluft

The angular momentum of a body is a vector quantity that represents the magnitude and the direction in which the body rotates about a reference point [Bennett2010]. We refer here to the total body angular momentum, around the total body Center of Ma

[2020-10-16 17:33] aremazeilles opened #71 "joint angle format"
ping @alfonsotecnalia @m-lancini @juritaborri

This was somehow raised with Juri and the beat code, [there](https://github.com/aremazeilles/beat_routine/issues/29)

In the [jointAngle](https://github.com/aremazeilles/eurobench_documentation/blob/master/data_format.adoc#joint-angles-file), we state that angles labels should use `_x`, `_y`, `_z`.
But in the [joint angles description page](https://gi

[2020-10-17 18:35] m-lancini commented on #71
I'd go for the mapping, by specifying in the human model document which angle corresponds to _x, _y, _z. Some of us will be happy to work with xyz (measurement, control, design), others will want adduction (therapists, mds)... so I think it's best to simply add a new label in the joint angle description page with _x _y _z. The jointAngle will still state that angles labels should use _xyz since th

[2020-10-18 07:16] SjoerdBruijn commented on #53
Sounds good to me.
S

[2020-10-21 15:37] juritaborri commented on #71
I am agree with Matteo regarding the use of _xyz. It is only important to underline in the angle definition that x is always related to the rotation around the sagittal axis, y around the frontal one and z around the transversal one, otherwise no comparisons among different tests would be consistent. In this way we also bypass the problem related to the different naming of the rotations according

[2020-10-22 10:12] aremazeilles commented on #71
OK, before submitting it, I will list the mapping here. If you could verify it, then I will insert that information within the documentation.

[2020-10-26 16:35] AdrianaTorres commented on #68
I have never worked with asciidoc, but the file structure is the one I explained in the first issue. I can send you an example of this file but it is basically a yaml file with a list of the gait parameters and their values.
I don't  know if I correctly understood what you are asking me to do. When you say if I can give a file description do you mean to explain what gait parameters are and a brief

[2020-10-26 21:18] aremazeilles commented on #71
So I would suggest adding the following table at the end of the section on the Angles definition, after [3.10](https://github.com/aremazeilles/eurobench_documentation/blob/master/model.adoc#neck).
Can you double check, and, if possible, look at the comment placed in the `unclear` column?

It is accepted to use more compact joint angle names, based on the following correspondances.

| joint name |

[2020-10-26 22:06] aremazeilles commented on #68
Could have a look at the [proposed description](https://github.com/aremazeilles/eurobench_documentation/blob/f_68_gait_parameters/data_format.adoc#611-gait-parameter-file)

I suggest placing left & right as suffix, to be consistent with others, but we can change.
Could you extend @AdrianaTorres for each item the type and unit (if you answer copying you initial list, and complete aside with the typ

[2020-10-26 22:12] aremazeilles commented on #67
So to make it simple, we could add in the Joint trajectories description, at the end something like:

In the case the protocol requires tracking specific landmarks on the subject body, these landmarks can be added to that file, assuming that the protocol documentation provides the landmark label , and a clear description of the landmark position on the subject body.

What do you think @alfonsotecn

[2020-10-26 22:44] aremazeilles commented on #61
I placed a thumb up and then the label agree. So I agree.

[2020-10-26 23:02] aremazeilles commented on #62
Resuming the topic. My suggestion would be.

[code]
In my opinion, using same format for vector and matrices may be more compact, but I am not sure we gain anything more than having a representation more compact. This is more human readable to me with different format.

The following question is how to conduct the aggregation in each of these cases.
Maybe if we distinguish the format it can be eas

[2020-10-27 05:47] #69 closed

[2020-10-27 06:08] #66 closed

[2020-10-27 06:13] #53 closed

[2020-10-27 10:03] alfonsotecnalia commented on #67
I find this paragraph ok.

[2020-10-27 11:02] juritaborri commented on #71
In my experience the unclear points can be solved as follows:

LOWER LIMB
For the ankle: _x eversion/inversion, _z rotation
Pelvis is more used than waist in gait analysis and clinical
UPPER BODY
Head and thorax are segments, instead the spine and neck are joints. So the
angles for the head and thorax are absolute, instead for the spine and neck
are relative. I think that  two sections are useful.

[2020-10-27 11:49] alfonsotecnalia commented on #62
Yes, I think so. I imagine the specification of aggregation as a 3 component index (vector_number, row_number, column_number) together with the list of operations to be done. Depending of the format, the elements taking part in the operations will be different so it would be good to differentiate them. Example:
0,1,0: mean, std:
- matrix: apply mean and std to the elements in the first row
- vecto

[2020-11-10 08:07] aremazeilles commented on #62
Alfonso, is it ok if I update the documentation in that direction? Then we could also detail for each of the format how the aggregation work.

[2020-11-10 08:49] m-lancini commented on #71
Reviewing the table I found some issues...

The XYZ axis follow the standard biomech definition (Y vertical, X antero-posterior, Z medio lateral), I suppose.
The first rotation normally considered (as in VICON) also is Z (perpendicular to Sagittal plane)
For upper-lower limbs (wrist, elbow, ankle, and knee, but also shoulder and hip) the first rotation around Z is usually defined as flexion-extens

[2020-11-10 09:00] alfonsotecnalia commented on #62
Ok

[2020-11-10 20:08] aremazeilles commented on #68
ping @AdrianaTorres to complete this, I need you to provide me for each item the type (all scalar maybe?), and the unit.

[2020-11-10 20:57] aremazeilles commented on #49
I reread the thread, and I have some doubts: we have two options: (1) make the [gait event format](https://github.com/aremazeilles/eurobench_documentation/blob/master/modules/ROOT/pages/data_format.adoc#610-gait-events-file) generic, and change it to an `event.yaml` structure, or (2) keep `gaitEvent.yaml as it is, and add another format for other events.

You suggest going to option2, am I right?

[2020-11-10 20:59] aremazeilles commented on #44
I will close that issue, as we are proposing new output format, in which (see #62) vector of matrix is proposed.
If you have the labels of each column, then it can be added to the PI file.
We could discuss later on, on how aggregation could be computed on such type of PI.

[2020-11-10 20:59] #44 closed

[2020-11-10 21:01] aremazeilles commented on #37
I think this can be close. This was open mainly to comment it with Altran.
ping @mjperezzurera. Through #62 we are proposing updates of the PI output format. But we already discussed it I believe.

[2020-11-10 21:01] #37 closed

[2020-11-10 21:02] aremazeilles commented on #23
Not sure whether this is is still relevant to mention.

[2020-11-10 21:02] #23 closed

[2020-11-10 21:30] aremazeilles commented on #71
First of all, thanks both of  you for dedicating time on this, I appreciate it.

Nevertheless, it seems that we are not converging, as far as I could understand your two statements. Am I correct?

I am wondering if it is possible to converge to a model ( and I am pretty sure other people not participating here may argue or have different views, right?). What is your opinion?

A mitigation plan cou

[2020-11-10 21:39] juritaborri commented on #71
I can easily converge to the proposal of Matteo. VICON is the most
widespread system for such analysis; so it's ok  Y vertical, X
antero-posterior, Z medio lateral.

Juri

Il giorno mar 10 nov 2020 alle ore 22:31 Anthony Remazeilles <
notifications@github.com> ha scritto:

--

Juri TABORRI, PhD
Research Fellow
juri.taborri@unitus.it <juri.taborri@uniroma1.it>
’La Tuscia', University of Viterbo
Dep

[2020-11-10 21:44] m-lancini commented on #71
thank you Juri, appreciated!

[2020-11-11 05:49] #62 closed

[2020-11-11 05:58] #61 closed

[2020-11-11 07:41] alfonsotecnalia commented on #49
I am proposing to merge them in only one format (yaml or csv), having specific labels for gait events.

[2020-11-11 08:37] #67 closed

[2020-11-11 14:09] aremazeilles commented on #49
Hum ok, so I would have to revise all repo and suggest using  event.yaml filename.

[2020-11-11 14:26] aremazeilles commented on #71
Would it be possible for one of you to provide me the updated version  of the correspondence table? If needed, I can pass it to any of you in word document. That would help me a lot...

[2020-11-20 12:31] AdrianaTorres commented on #68
Here you have the table with the missing data, is this enough or should I specify/do something more?

[[tab:gait_param]]
.List of gait events and its considered labelling and units
[options="header"]
|====================
| Gait Event  | Label | type | unit
| Left Cadence | `cadence_left` | scalar | steps/min
| Left Walking Speed | `walking_speed_left`| scalar | m/s
| Left Stride Time | `stride_ti

[2020-11-24 06:10] #68 closed

[2020-11-24 06:33] alfonsotecnalia opened #82 "Name and host for docker images"
Two fields should be added to the [PI_algo table](https://github.com/aremazeilles/eurobench_documentation/blob/master/modules/ROOT/pages/template.adoc#5-pi-algo-sheet):

- docker_image_name: name/tag of the docker image.
- docker_image_host: host where the docker image can be pulled from.

[2020-12-01 12:03] aremazeilles opened #83 "PI names"
We should add:

* Shortname in the excel sheet.
* the pi filename should be based on this shortname
* The pi name should be discriminant at least within a single protocol

[2021-01-25 19:51] Enri2077 opened #86 "range data format"
Hi @aremazeilles,

I'm working on beast and need a data format representing a distance through time.
I considered using the `Joint center 3D trajectory` or `Landmark 3D trajectory` data formats, reporting a position in meters through time, but having the x, y and z fields is not ideal since I need to represent a distance rather than a position.

The data is computed as the minimum range between th

[2021-01-26 08:30] aremazeilles commented on #86
ping @alfonsotecnalia

I see two options:

* Create a specific format, `distance.csv`
* Use the generic format `platformData.csv` since it can contain any information.

The advantage of the first option is that we know from the file name its content. I don't mind adding such format.
If so , would it make sense to suggest a generic description, such as:

* if a single distance is recorded, the col

[2021-01-26 10:11] Enri2077 commented on #86
I'm perfectly ok with the distance format, including the option to include multiple columns! I'll update my data format.

[2021-01-28 08:37] alfonsotecnalia commented on #86
Ok with including distance format.

[2021-02-04 12:10] AdrianaTorres commented on #67
ping @aremazeilles

[2021-03-05 14:28] aremazeilles commented on #86
@Enri2077 did you use that format at the end? If yes, please point me to your files, and I will adjust documentation accordingly

[2021-03-08 10:32] Enri2077 commented on #86
Yes I used it. I still don't have a definitive dataset, but I'll attach a file using this format:
[subject_001_cond_007_run_001_distance.csv.zip](https://github.com/aremazeilles/eurobench_documentation/files/6100668/subject_001_cond_007_run_001_distance.csv.zip)

[2021-03-11 13:27] aremazeilles commented on #86
Would #88 make the job @Enri2077 ?

[2021-03-11 16:36] Enri2077 commented on #86
Perfect, thanks!

[2022-02-10 10:46] aremazeilles opened #92 "Adjust eurobench platform url"
the address of the platform is http://15.237.22.1/ but the SSL certificate has been issued for https://platform.eurobench2020.eu/.

[2022-02-25 12:45] #92 closed